/* SCSS Document */
body {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  color: #EFECE7;
  background-color: #A98444;
  opacity: 80%;
  height: 65px;
  width: 100%;
  left: 0;
  top: 0;
  position: relative;
  z-index: 999;
  /* mobile  navigation menu */
  /* Style navigation menu links */
  /* Style the hamburger menu */
}
header nav {
  position: relative;
  z-index: 999;
}
header #desktopNav {
  font-weight: normal;
  display: flex;
  flex-direction: row;
}
header #desktopNav a {
  color: #EFECE7;
  text-decoration: none;
  font-size: 20px;
}
header #desktopNav a:hover {
  color: #ffffff;
}
header #desktopNav div {
  margin-left: 30px;
}
header #desktopNav #brand {
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  padding-top: 12px;
  padding-bottom: 12px;
}
header #desktopNav #link {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 15px;
  padding-bottom: 12px;
}
header #desktopNav #logIn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #A98444;
  border: 1px solid white;
  height: 45px;
  width: 120px;
  text-align: center;
  justify-content: flex-end;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 30px;
  padding-top: 10px;
}
header #desktopNav #logIn:hover {
  background-color: #D5AB62;
}
header .mobileNav {
  z-index: 999;
  background: #A98444;
  position: relative;
}
header .mobileNav #mobileLinks {
  display: none;
}
header .mobileNav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
header .mobileNav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
header #mbrand {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

footer {
  background-color: #A98444;
  opacity: 85%;
  left: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
}
footer a {
  color: #EFECE7;
  text-decoration: none;
}
footer a:hover {
  color: #ffffff;
}
footer #links {
  padding-top: 40px;
}
footer #copyright {
  padding-top: 70px;
  padding-right: 40px;
}

#banner {
  color: #EFECE7;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}
#banner h1 {
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  font-size: 60px;
  padding-top: 150px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: #0C0D0F;
  opacity: 85%;
  z-index: 1;
  text-align: right;
  padding-right: 20px;
  padding-top: 50px;
  color: #EFECE7;
}
.overlay h2 {
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
}
.overlay p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#viewEvent {
  background-color: #D5AB62;
  opacity: 100%;
  height: 45px;
  width: 120px;
  text-align: center;
  justify-content: flex-end;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 30px;
  padding-top: 10px;
}
#viewEvent a {
  text-decoration: none;
}
#viewEvent a p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0C0D0F;
}

#highlightEvent {
  margin-top: 50px;
  margin-left: 350px;
}
#highlightEvent #mobileEvent {
  display: none;
}

.container {
  margin-top: 80px;
}
.container .row section {
  color: #9F412C;
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  font-weight: bolder;
}
.container .row section hr {
  border: 1px solid #9F412C;
}
.container .row h5 {
  margin-top: 50px;
}
.container .row h5 a {
  color: #9F412C;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container .row .col-md-4 {
  margin-top: 60px;
  padding: 25px 20px 25px 20px;
  margin-right: 30px;
  width: 400px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1D213B;
  opacity: 85%;
}
.container .row .col-md-4 h4, .container .row .col-md-4 p {
  text-align: left;
  color: #EFECE7;
}
.container .row .col-md-4 a {
  color: #D5AB62;
  text-align: right;
}

.col-md-12 {
  margin-left: 350px;
  background-color: #1D213B;
  width: 600px;
  opacity: 65%;
  padding-top: 30px;
  margin-bottom: 60px;
  text-align: center;
  color: #EFECE7;
}
.col-md-12 h2, .col-md-12 p {
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  font-weight: normal;
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (min-width: 600px) {
  .mobileNav {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #banner {
    display: none;
  }
  body {
    background-size: auto;
  }
  header #desktopNav {
    display: none;
  }
  #highlightEvent {
    margin-left: auto;
  }
  #highlightEvent #mobileEvent {
    display: inline;
    color: #EFECE7;
  }
  #highlightEvent #mobileEvent #text {
    background-color: #1D213B;
    opacity: 85%;
  }
  #highlightEvent #viewEvent {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #0C0D0F;
    background-color: #D5AB62;
    opacity: 100%;
    height: 45px;
    width: 120px;
    text-align: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: 30px;
    padding-top: 10px;
    float: left;
  }
  .image-container {
    display: none;
  }
  .col-md-4 {
    margin-top: 60px;
    padding: 25px 20px 25px 20px;
    margin-right: 0px;
    width: 300px;
  }
  footer {
    padding-left: auto;
    flex-direction: column;
  }
  footer #links {
    padding-top: 10px;
  }
  footer #copyright {
    padding-top: 10px;
    padding-right: 40px;
  }
  .col-md-12 {
    margin-left: auto;
    width: 100%;
  }
  .col-md-12 h2, .col-md-12 p {
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=style.css.map */